<table align="center" border="1" cellpadding="1" cellspacing="1" style="width:710px">
	<tbody>
		<tr>
			<td colspan="2" rowspan="1" style="background-color:#ff9e5d; text-align:center; width:424px">Academic Qualifications</td>
			<td rowspan="1" style="background-color:#ff9e5d; text-align:center; width:180px">Year Awarded</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2" style="text-align:center">Bachelor of Education and Bachelor of Science</td>
			<td style="width:271px">The University of Hong Kong</td>
			<td style="width:180px">2016</td>
		</tr>
		<tr>
			<td colspan="2" rowspan="1" style="background-color:#ff9e5d; text-align:center; width:456px">First Class Honours</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2" style="text-align:center">Master of Education</td>
			<td style="width:271px">The University of Hong Kong</td>
			<td style="width:180px">2025 (expected) </td>
		</tr>
	</tbody>
</table>
